{% extends "discussions/_base.html" %}

{% block title %}Discussions{% endblock %}

{% block body %}
<h1>Discussion</h1>
<h3 class='discussion-title'>{{ discussion.tagged_post.content|safe }}</h3>
<p class='label label-info'><a href='{{ discussion.tagged_post.ref_url }}'>See post →</a></p>
<p class='text text-info'>{{ discussion.tagged_post.bully_social_id }}</p>

<div style="text-align:left;">
  {% for reply in replies %}
    <span>{{ reply.author }}: {{ reply.content }}</span><br/>
  {% endfor %}
</div>

<div class='reply-form'>
  <form role='form' action='#' method='POST'>
    {% csrf_token %}
    {% for field in reply_form %}
    <div class="form-group">
      {{ field.errors }}
      {{ field.label_tag }} {{ field }}
    </div>
    {% endfor %}
    <button class='btn btn-success'>Reply</button>
  </form>
</div>
{% endblock %}
