<div id="bullyingContent1" class="helpText text-left">
        <div class="field-item even" property="content:encoded">
            <p><strong>“Cyber bullying”</strong> is defined as a young person tormenting, threatening, harassing, or embarrassing another young person using the Internet or other technologies, like cell phones.</p>
            <p>The psychological and emotional outcomes of cyber bullying are similar to those of real-life bullying. The difference is, real-life bullying often ends when school ends. For cyber bullying, there is no escape. And, it’s getting worse. Read on to get the facts.</p>
            <ol>
                <li>Nearly 43% of kids have been bullied online. 1 in 4 has had it happen more than once.</li>
                <li>70% of students report seeing frequent bullying online.</li>
                <li>Over 80% of teens use a cell phone regularly, making it the most common medium for cyber bullying.</li>
                <li>68% of teens agree that cyber bullying is a serious problem.</li>
                <li>81% of young people think bullying online is easier to get away with than bullying in person.</li>
                <li>90% of teens who have seen social-media bullying say they have ignored it. 84% have seen others tell cyber bullies to stop.</li>
                <li>Only 1 in&nbsp;10 victims will inform a parent or trusted adult of their abuse.</li>
                <li>Girls are about twice as likely as boys to be victims and perpetrators of cyber bullying.</li>
                <li>About 58% of kids admit someone has said mean or hurtful things to them online. More than 4 out 10 say it has happened more than once.</li>
                <li>About 75% have visited a website bashing another student.</li>
                <li>Bullying victims are 2 to 9 times more likely to consider committing suicide.</li>
            </ol>
        </div>
    </div>

    <!-- Help text 2-->
    <div id="bullyingContent2" class="helpText text-left">
        <div class="syndicate">
            <h1>
                Prevent Cyberbullying
            </h1>
            <ul>
                <li>Be Aware of What Your Kids are Doing Online</li>
                <li>Establish Rules about Technology Use</li>
                <li>Understand School Rules</li>
            </ul>
            <h2>Be Aware of What Your Kids are Doing Online</h2>
            <p>Talk with your kids about cyberbullying and other online issues regularly.</p><ul>
                <li>Know the sites your kids visit and their online activities. Ask where they’re going, what they’re doing, and who they’re doing it with.</li>
                <li>Tell your kids that as a responsible parent you may review their online communications if you think there is reason for concern. 
            Installing parental control filtering software or monitoring programs are one option for monitoring your child’s online behavior, but do not rely solely on these tools.</li>
                <li>Have a sense of what they do online and in texts. Learn about the sites they like. Try out the devices they use.</li>
                <li>Ask for their passwords, but tell them you’ll only use them in case of emergency.</li>
                <li>Ask to “friend” or “follow” your kids on social media sites or ask another trusted adult to do so.</li>
                <li>Encourage your kids to tell you immediately if they, or someone they know, is being cyberbullied. Explain that you will not take away their computers or cell phones if they confide in you about a problem they are having.</li>
            </ul>

            <div class="divider"></div>
            <h2></a>Establish Rules about Technology Use</h2>
            <p>Establish rules about appropriate use of computers, cell phones, and other technology. For example, be clear about what sites they can visit and what they are permitted to do when they’re online. Show them how to be safe online.</p>
            <p>Help them be smart about what they post or say. Tell them not to share anything that could hurt or embarrass themselves or others. Once something is posted, it is out of their control whether someone else will forward it.</p>
            <p>Encourage kids to think about who they want to see the information and pictures they post online. Should complete strangers see it? Real friends only? Friends of friends? Think about how people who aren’t friends could use it.</p>
            <p>Tell kids to keep their passwords safe and not share them with friends. Sharing passwords can compromise their control over their online identities and activities.</p>

            <div class="divider"></div>
            <h2><a id="Understand School Rules"></a>Understand School Rules</h2>
            <p>Some schools have developed <a href="/prevention/at-school/rules/index.html">policies</a> on uses of technology that may affect the child’s online behavior in and out of the classroom. Ask the school if they have developed a policy.</p>
            <div class="divider"></div>
        </div>
    </div>

    <!-- Help text 3-->
    <div id="bullyingContent3" class="helpText text-left">
        <div class="syndicate">
            <h1>
                Report Cyberbullying
            </h1>
            <p>When cyberbullying happens, it is important to document and report the behavior so it can be addressed.</p>
            <ul>
                <li>Steps to Take Immediately</li>
                <li>Report Cyberbullying to Online Service Providers</li>
                <li>Report Cyberbullying to Law Enforcement</li>
                <li>Report Cyberbullying to Schools</li>
            </ul>
            <h2>Steps to Take Immediately</h2>
            <ul>
                <li>Don’t respond to and don’t forward cyberbullying messages.</li>
                <li>Keep evidence of cyberbullying. Record the dates, times, and descriptions of instances when cyberbullying has occurred. Save and print screenshots, emails, and text messages. Use this evidence to report cyberbullying to web and cell phone service providers.</li>
                <li>Block the person who is cyberbullying.</li>
            </ul>
            <div class="divider">
            </div>
            <h2>Report Cyberbullying to Online Service Providers</h2>
            <p>Cyberbullying often violates the terms of service established by social media sites and internet service providers.</p>
            <ul>
                <li>Review their terms and conditions or rights and responsibilities sections. These describe content that is or is not appropriate.</li>
                <li>Visit social media safety centers to learn how to block users and change settings to control who can contact you.</li>
                <li>Report cyberbullying to the social media site so they can take action against users abusing the terms of service.</li>
            </ul>
            <div class="divider"></div>
            <h2>Report Cyberbullying to Law Enforcement</h2>
            <p>When cyberbullying involves these activities it is considered a crime and should be <a href="http://www.stopbullying.gov/get-help-now/index.html#law">reported to law enforcement</a>:</p>
            <ul>
                <li>Threats of violence</li>
                <li>Child pornography or sending sexually explicit messages or photos</li>
                <li>Taking a photo or video of someone in a place where he or she would expect privacy</li>
                <li>Stalking and hate crimes</li>
            </ul>
            <p>Some states consider other forms of cyberbullying criminal. Consult your <a href="/laws/index.html">state’s laws</a> and law enforcement for additional guidance.</p>
            <div class="divider"></div>
            <h2>Report Cyberbullying to Schools</h2>
            <ul>
                <li>Cyberbullying can create a disruptive environment at school and is often related to in-person bullying. The school can use the information to help inform prevention and response strategies.</li>
                <li>In many states, schools are required to address cyberbullying in their anti-bullying policy. Some <a href="http://www.stopbullying.gov/laws/index.html">state laws</a> also cover off-campus behavior that creates a hostile school environment.</li>
            </ul>
        </div>
    </div>